<h1 class="display-4 mb-4">All uploaded images</h1>
<table class="table table-hover table-image">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Tags</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% images.forEach((image)=> { %>
      <tr>
        <td><a target="_blank" href="/images/uploads/<%= image.imageFilename %>">
            <%= image.imageTitle %>
          </a></td>
        <td>
          <%= image.imageTags %>
        </td>
        <td class="w-25"><img class="img-fluid img-thumbnail" src="/images/uploads/<%= image.imageFilename %>"></td>
        <td style="text-align:center">
          <form action="/images/delete/<%= image.id %>" method="post">
            <input type="submit" value="🗑" class="btn btn-outline-dark">
          </form>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>
